* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1280px;
}

.main-header {
    width: 100%;
    min-height: 323px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445161;
}

.main-header-wrapper {
    float: left;
    margin-left: 50px;
}

.main-header-title {
    margin: 0;
    font-family: Arial;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.main-header-list {
    list-style-type: none;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    margin-left: 40px;
}

.main-header-list-item {
    position: relative;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 7px;
    left: -37px;
    background-image: url(../img/check_icon.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main-header-product-photo {
    display: block;
    background-color: #ffffff;
    width: 469px;
    height: 214px;
    float: right;
}

.about {
    padding: 50px;
    box-sizing: border-box;
    min-height: 323px;
    width: 100%;
}

.about-wrapper {
    float: left;
    width: 649px;
}

.about-video {
    display: block;
    background-color: #ffffff;
    width: 430px;
    height: 245px;
    float: right;
}

.about-title {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin-bottom: 10px;
}

.about-wrapper p {
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.pluses {
    padding: 50px;
    min-height: 500px;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
}

.pluses-wrapper {
    width: 50%;
    box-sizing: border-box;
}

.pluses-title {
    width: 100%;
    display: block;
    margin: 0;
    text-align: center;
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px
}

.pluses-item {
    margin-top: 30px;
}

.item-title {
    margin-bottom: 20px;
    margin-left: 10px;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    background: #445161;
    content: "+";
    color: #fff;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    text-align: center;
    width: 30px;
    margin-right: 10px;
}

details[open] summary:after {
    content: "-";
}

.screenshots,
.reviews {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.screenshots p {
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.screenshots-wrapper,
.reviews-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.screenshot-item,
.reviews-item {
    margin-bottom: 20px;
}

.screenshot-item h2 {
    margin-bottom: 10px;
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.screenshot-img {
    float: left;
    margin-right: 20px;
    margin-left: 10px;
}

.screenshots-title,
.reviews-title,
.buy-title {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: center;
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 20px;
}

.reviews {
    background-color: #f5f5f5;
}

.reviews p {
    font-family: Arial;
    color: #333333;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    text-align: left;
}

.reviews .sign {
    font-family: Arial;
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.reviews-text {
    height: 121px;
    width: 483px;
    background-color: #ececec;
    margin-left: 100px;
    padding: 10px;
}

.reviews-img {
    float: left;
    margin-right: 20px;
    margin-left: -5px;
}

.triangle {
    position: absolute;
    margin-left: -25px;
    margin-top: 15px;
}

.buy {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
}

.standart-wrapper {
    width: 300px;
    background-color: #425062;
    border-radius: 8px;
}

.premium-wrapper {
    width: 300px;
    background-color: #425062;
    border-radius: 8px;
}

.lux-wrapper {
    width: 300px;
    background-color: #425062;
    border-radius: 8px;
}

.buy-title {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.buy h3 {
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.buy ol {
    width: 242px;
    padding: 12px;
    margin-left: 30px;
}

.price {
    height: 71px;
    line-height: 71px;
    background-color: #ffffff;
    border: 3px solid #425062;
}

.price p {
    font-family: Arial;
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.buy li {
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

button {
    width: 260px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    margin-left: 20px;
    outline: none;
    font-family: Arial;
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}